button,
div,
form,
input{
  margin: 6px;
}

body{
    background-image: url("../images/dust_scratches.png");
}


.p,
.download,
img
{width:100%;
}

.item{ 
    width:30%;
    float: left;
    margin:6px;
}

form{
    float: right;
}